body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:800px;
}
#u23303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:800px;
}
#u23304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:800px;
  background:inherit;
  background-color:rgba(33, 37, 46, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 37, 46, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:800px;
}
#u23306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:51px;
}
#u23307 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:170px;
  height:50px;
}
#u23308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  word-wrap:break-word;
}
#u23309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u23309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:192px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u23310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:188px;
  word-wrap:break-word;
}
#u23311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:60px;
}
#u23315 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:0px;
  width:958px;
  height:60px;
  text-align:right;
}
#u23316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:954px;
  word-wrap:break-word;
}
#u23317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23317 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:100px;
  width:938px;
  height:680px;
}
#u23318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:332px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:30px;
  background:inherit;
  background-color:rgba(221, 238, 254, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23320 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:720px;
  width:917px;
  height:30px;
}
#u23321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23322 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:724px;
  width:65px;
  height:22px;
}
#u23322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23322_input:disabled {
  color:grayText;
}
#u23323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
#u23323 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:723px;
  width:1px;
  height:25px;
}
#u23324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u23325 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:727px;
  width:15px;
  height:17px;
}
#u23326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u23327 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:727px;
  width:15px;
  height:17px;
}
#u23328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u23329 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:727px;
  width:15px;
  height:17px;
}
#u23330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u23331 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:727px;
  width:15px;
  height:17px;
}
#u23332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
#u23333 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:723px;
  width:1px;
  height:25px;
}
#u23334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
#u23335 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:723px;
  width:1px;
  height:25px;
}
#u23336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
#u23337 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:723px;
  width:1px;
  height:25px;
}
#u23338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
}
#u23339 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:727px;
  width:110px;
  height:18px;
  text-align:left;
}
#u23340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:106px;
  word-wrap:break-word;
}
#u23341 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:723px;
  width:32px;
  height:25px;
}
#u23341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23342 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:727px;
  width:17px;
  height:17px;
}
#u23343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u23344 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:723px;
  width:180px;
  height:25px;
}
#u23345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u23346_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:943px;
  height:10px;
}
#u23346 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:100px;
  width:938px;
  height:5px;
}
#u23347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:259px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:366px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:438px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:474px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:546px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:582px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:192px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u23374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u23374 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:120px;
  width:130px;
  height:50px;
  font-size:28px;
}
#u23375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u23376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(221, 238, 254, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23376 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:70px;
  width:88px;
  height:30px;
}
#u23377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u23378_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:28px;
}
#u23378 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:73px;
  width:4px;
  height:23px;
}
#u23379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23380 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:180px;
  width:917px;
  height:40px;
}
#u23381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:50px;
  background:inherit;
  background-color:rgba(221, 238, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23382 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:220px;
  width:917px;
  height:50px;
}
#u23383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23384 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:187px;
  width:82px;
  height:25px;
}
#u23385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u23386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23386 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:228px;
  width:84px;
  height:30px;
}
#u23387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u23388 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:228px;
  width:177px;
  height:30px;
}
#u23388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23388_input:disabled {
  color:grayText;
}
#u23389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23389 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:228px;
  width:84px;
  height:30px;
}
#u23390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u23391 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:233px;
  width:90px;
  height:25px;
}
#u23391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u23392 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:228px;
  width:177px;
  height:30px;
}
#u23392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23393 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:270px;
  width:922px;
  height:95px;
}
#u23394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u23394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u23395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23396 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:0px;
  width:148px;
  height:30px;
}
#u23397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u23398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23398 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:0px;
  width:148px;
  height:30px;
}
#u23399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u23400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u23400 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:131px;
  height:30px;
}
#u23401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u23402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23402 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:148px;
  height:30px;
}
#u23403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u23404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23404 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:0px;
  width:148px;
  height:30px;
}
#u23405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u23406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23406 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:0px;
  width:150px;
  height:30px;
}
#u23407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u23408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:44px;
  height:30px;
}
#u23409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23410 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:30px;
  width:148px;
  height:30px;
}
#u23411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23412 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:30px;
  width:148px;
  height:30px;
}
#u23413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u23414 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:30px;
  width:131px;
  height:30px;
}
#u23415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u23416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23416 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:30px;
  width:148px;
  height:30px;
}
#u23417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23418 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:30px;
  width:148px;
  height:30px;
}
#u23419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23420 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:30px;
  width:150px;
  height:30px;
}
#u23421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u23422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:44px;
  height:30px;
}
#u23423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23424 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:60px;
  width:148px;
  height:30px;
}
#u23425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23426 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:60px;
  width:148px;
  height:30px;
}
#u23427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u23428 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:60px;
  width:131px;
  height:30px;
}
#u23429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u23430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23430 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:60px;
  width:148px;
  height:30px;
}
#u23431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u23432 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:60px;
  width:148px;
  height:30px;
}
#u23433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23434 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:60px;
  width:150px;
  height:30px;
}
#u23435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23436 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:210px;
  width:280px;
  height:230px;
}
#u23437 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u23438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23438 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:231px;
  width:84px;
  height:30px;
}
#u23439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u23440 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:231px;
  width:177px;
  height:30px;
}
#u23440_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23440_input:disabled {
  color:grayText;
}
